.space {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3%;
  }

  .spaceNav{
    display: flex;
    width: 100%;
  }

  .spaceCenter {
    display: flex;
    justify-content: center;
  }
  
  .noTextDec {
    color: black;
    text-decoration: none;
    font-style: unset;
  }
  
  .noTextDec:hover {
    color: rgb(68, 66, 66);
  }
  
  .noTextDecTwo {
    color: white;
    text-decoration: none;
    font-style: unset;
  }

  ul{
    list-style-type: none;
  }

  p{
    font-size: 17px;
  }

  .imgSize{
      width: 30px;
      height: 30px;
      aspect-ratio: 1/1;
  }

  .top {
    display: flex;
    background-color: #E0E1DD;
    font-size: 15px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 6;
  }
  
  .noMargin {
    margin: 0%;
  }

  .logoHeader {
    display: flex;
    width: 90px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
  }

  .logoHeader:hover {
    transform: scale(1.05);
  }
  
  .widthRight{
    max-width: 300px;
    margin: 50px;
    text-align: center;
  }
  
  .widthLeft{
    max-width: 300px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer{
    display: flex;
    justify-content: center;
    background-color: #1a2434;
    color: white;
  }
  
  .noTopMargin{
    margin-top: 0%;
  }
  
  .backColorTwo{
    padding-bottom: 40px;
  }
  
  .backColorThree{
    padding-top: 40px;
  }
  
  .backColor{
    padding: 40px;
    background-color: #f3f3f3;
  }
  
  .noLeftPadding{
    padding-left: 0%;
  }
  
  .noBotMargin{
    margin-bottom: 0%;
  }
  
  .centerFooter {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #0D1B2A;
  }
  
  .row{
    display: flex;
    flex-direction: row;
  }
  
  .rowWelcome{
    display: flex;
    flex-direction: row;
  }
  
  .rowImg{
    display: flex;
    flex-direction: row;
  }
  
  .rowIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    margin-right: 35px;
  }
  
  .marginRight{
    margin-right: 4vh;
  }
  
  .marginLeftRight{
    margin-right: 4vh;
    margin-left: 4vh;
  }
  
  .marginLeft{
    margin-left: 4vh;
  }
  
  .marginTop{
    margin-top: 16vh;
  }
  
  .marginBot{
    margin-bottom: 4vh;
  }
  
  .box {
    max-width: 600px;
  }
  
  .imgOne{
    width: 310px;
    height: 28vh;
  }
  
  .imgTwo{
    max-width: 150px;
    height: 28vh;
    display: flex;
    align-self: center;
  }
  
  .imgThree{
    width: 75%;
    height: 28vh;
  }
  
  .textAlign{
    display: flex;
    text-align: center;
  }

  .noTextAlign{
    display: flex;
  }
  
  .video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .video-container iframe{
    max-width: 100%;
    max-height: 100%;
  }
  
  .video-container:hover{
    transform: scale(1.07);
  }
  
  .font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .widthLeftMain{
    max-width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .widthRightMain{
    max-width: 100%;
    width: 400px;
    height: 225px;
    display: flex;
  }
  
  .headlines{
    font-size: 26px;
  }
  
  @media (max-width: 570px) {
    .hiddenImg{
      display: none;
    }
  }
  
  @media (max-width: 520px) {
    .row {
      flex-direction: column;
    }
    .marginRight{
      margin-right: 0%;
    }
    .noTextAlign{
      text-align: center;
      justify-content: center;
    }
    .h1Welcome{
      font-size: 22px;
    }
  }
  .menu-toggle {
    display: none;
    width: 30px;
    height: 20px;
    position: fixed;
    top: 36px;
    right: 20px;
    cursor: pointer;  
    z-index: 999;
  }
  
  @media (max-width: 825px) {
    .rowWelcome{
      flex-direction: column;
    }
    .widthLeftMain{
      max-width: 90%;
      margin-bottom: 3vh;
    }
    .resize{
      font-size: 12px;
    }
  }

  @media (max-width: 1035px) {
    .hiddenVideo {
      display: none;
    }
  }
  
  @media (max-width: 400px ) {
    .welcomeHeader{
      font-size: 19px;
    }
    .centerFooter{
      font-size: 13.5px;
    }
  }

  @media (max-width: 750px) {
    footer {
    flex-direction: column;
    align-items: center;
    }

    .widthLeft {
      max-width: 320px;
      margin-left: 30px;
      margin-right: 30px;
    }

    .widthRight {
      max-width: 320px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 0;
    }
  }

  @media (max-width: 710px ) {
    .hidden{
      display: none;
    } 
    .menu-toggle{
      display: block;
    }
  }

  @media (max-width: 400px ) {
  .centerFooter{
    font-size: 13.5px;
  }
}

  .back{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .reverse{
    flex-direction: row-reverse;
  }

  body {
    margin: 0;
  }


  .bar {
    width: 100%;
    height: 3px;
    background-color: black;
    margin: 5px 0;
  }

  .menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f9f9f9;
    width: 200px;
    height: 100%;
    padding-top: 60px;
    z-index: 998;
  }

  .menu ul {
    list-style: none;
    padding: 0;
  }

  .menu ul li {
    padding: 20px;
  }

  .menu ul li a {
    text-decoration: none;
    color: black;
  }